@model CustomerAvatarModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
<section id="myaccout">
    <div class="container">
        <h2 class="page-title-h2 wow bounceIn">@T("Account.MyAccount") - @T("Account.Avatar")</h2>
        <div class="row">
            <div class="col-md-4 col-sm-5 wow fadeInUp" data-wow-delay="0.4s">
                @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Avatar })
            </div>
            <div class="col-md-8 col-sm-7">
                <section id="register">
                    @using (Html.BeginRouteForm("CustomerAvatar", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        var validationSummary = Html.ValidationSummary(true);
                        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            @validationSummary
                        }
                        <div class="col-md-10 col-md-offset-1 padding-bottom-20 wow fadeInUp" data-wow-delay="0.6s">
                            @if (!String.IsNullOrEmpty(Model.AvatarUrl))
                            {
                                <div class="image">
                                    <img class="img-responsive" src="@(Model.AvatarUrl)" alt="avatar" />
                                </div>
                            }
                            <input name="uploadedFile" type="file" />
                        </div>
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 wow fadeInUp" data-wow-delay="0.8s">
                            <input type="submit" name="upload-avatar" class="form-control" value="@T("Common.Upload")"/>
                            @if (!String.IsNullOrEmpty(Model.AvatarUrl))
                            {
                                <input type="submit" name="remove-avatar" class="form-control" value="@T("Account.Avatar.RemoveAvatar")"/>
                            }
                        </div>
                        <div class="col-md-10 col-md-offset-1 padding-bottom-20 wow fadeInUp" data-wow-delay="1s">
                            @T("Account.Avatar.UploadRules")
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</section>