@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
<section id="myaccount">
    <div class="container">
        <h2 class="page-title-h2 wow bounceIn">@T("Account.MyAccount") - @T("Account.ChangePassword")</h2>
        <div class="row">
            <div class="col-md-4 col-sm-5 wow fadeInUp" data-wow-delay="0.4s">
                @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
            </div>
            <div class="col-md-8 col-sm-7">
                <section id="register">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-10 col-md-offset-1 padding-bottom-20 wow fadeInUp" data-wow-delay="0.6s">
                            @if (!String.IsNullOrEmpty(Model.Result))
                            {
                                <div class="result">
                                    @Model.Result
                                </div>
                            }
                            @{
                                var validationSummary = Html.ValidationSummary(true);
                            }
                            @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                            {
                                @validationSummary
                            }

                            @Html.PasswordFor(model => model.OldPassword, new {@class = "form-control", placeholder = T("Account.ChangePassword.Fields.OldPassword") + "*"})
                            @Html.ValidationMessageFor(model => model.OldPassword)

                            @Html.PasswordFor(model => model.NewPassword, new {@class = "form-control", placeholder = T("Account.ChangePassword.Fields.NewPassword") + "*"})
                            @Html.ValidationMessageFor(model => model.NewPassword)

                            @Html.PasswordFor(model => model.ConfirmNewPassword, new {@class = "form-control", placeholder = T("Account.ChangePassword.Fields.ConfirmNewPassword") + "*"})
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                        </div>
                        <div class="col-md-10 col-md-offset-1 padding-bottom-20 wow fadeInUp" data-wow-delay="0.6s">
                            <span class="small">@T("Admin.Common.RequiredFields")</span>
                        </div>
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 wow fadeInUp" data-wow-delay="0.8s">
                            <input type="submit" class="form-control" value="@T("Account.ChangePassword.Button")" />
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</section>